@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Thin.woff2');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-ThinItalic.woff2');
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraLight.woff2');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2');
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Light.woff2');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-LightItalic.woff2');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-MediumItalic.woff2');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2');
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode/FiraCode-Light.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode/FiraCode-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode/FiraCode-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode/FiraCode-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode/FiraCode-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}


@font-face{
    font-family: 'Space Mono';
    src: url('/fonts/SpaceMono/SpaceMono-Bold.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: 'Space Mono';
    src: url('/fonts/SpaceMono/SpaceMono-BoldItalic.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: 'Space Mono';
    src: url('/fonts/SpaceMono/SpaceMono-Italic.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: 'Space Mono';
    src: url('/fonts/SpaceMono/SpaceMono-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

